*{
    padding: 0%;
    margin: 0%;
}

.banner {
    height: 160px;
    width: 100%;
    background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgb(113, 99, 202,0.83)),
    url('https://i.ytimg.com/vi/s1M_75RBoK4/maxresdefault.jpg');
    /*background-blend-mode: soft-light;*/
    background-position: center; 
    background-size: cover;
    padding: 10px;
    padding-left: 2px;

}

.text {
    color: rgb(255, 255, 255);
    font-size: 42px;
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 110px;
}

.text2 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(113, 99, 202);
    text-align: center;
    padding: 20px;
}

.regtext {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 7px;
}